# fly.toml app configuration file generated for cookbook-rgmqjq on 2026-01-18T05:17:56Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

<<<<<<< HEAD
[[services]]
  internal_port = 8080
  protocol = "tcp"
  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

[processes]
  app = "npm start"
=======
app = 'cookbook-rgmqjq'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
>>>>>>> 72791b57f8d5df0df94362f8e21f47e0699129b8
